<div class="center hero-unit">
  <h1>Concerts</h1>

  <h2>
    The big page of concerts
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="container-calendar">
	<div class="header-calendar">
	</div>
	<div class="weekdays-calendar">
		<div class="weekday">
			<h5>SUNDAY</h5>
		</div>
		<div class="weekday">
			<h5>MONDAY</h5>
		</div>
		<div class="weekday">
			<h5>TUESDAY</h5>
		</div>
		<div class="weekday">
			<h5>WEDNESDAY</h5>
		</div>
		<div class="weekday">
			<h5>THURSDAY</h5>
		</div>
		<div class="weekday">
			<h5>FRIDAY</h5>
		</div>
		<div class="weekday">
			<h5>SATURDAY</h5>
		</div>
	</div>
	<div class="container-monthly">
		<div class="container-event">
			<div class="day">
				<h6>15</h6>
			</div>
			<div class="event">
				<div class="playbutton">
				</div>
				<div class="bandpic">
					<img src="https://s3.amazonaws.com/concerts-assets/images/hot_chip.png">
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png"></div>
					<div class="curr-event"><h4>Hot Chip</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Tilly and the Wall</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>The National</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Arcade Fire</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>16</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>17</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>18</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>19</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>20</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>21</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<br />
		<div class="container-event">
			<div class="day">
				<h6>22</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>23</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>24</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>25</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>26</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>27</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
		<div class="container-event">
			<div class="day">
				<h6>28</h6>
			</div>
			<div class="event">
				<div class="bandpic">
					Picture of band
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band1</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band2</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band3</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
				<div class="event-individual">
					<div class="star"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png"></div>
					<div class="curr-event"><h4>Band4</h4></div>
					<div class="cross"><img src="https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png"></div>
				</div>
			</div>
		</div>
	</div>		
</div>
