<% if @d >= Date.today %>
<div class="container-daily <%= @d %>">
	
	<div class="container-event template-big">
		<div class="event<% if @d < Date.today %> old<%end%>">
		
			<div class="playbutton"></div>
			<div class="bandpic" href="javascript:void(0);">
				<img class="topimg" src="">
			</div>
		
			<div class="event-individual" id="">
				<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
				<div class="curr-event"><h4></h4></div>
				<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
			</div>	
		</div>
	</div>

	<div class="littleinfo template-tiny"><h4 class="weektiny"></h4></div>
		
	<div class="event-individual template-secondary" id="">
		<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
		<div class="curr-event2"><h4></h4></div>
		<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
	</div>

	<div class="venue-individual2 template-venue" id="">
		<div class="star-empty"></div>
		<div class="curr-venue"><h4></h4></div>
		<div class="cross"></div>
	</div>
		
	<div class="timeinfo2 template-time"><h4 class="timetiny"></h4></div>
	<div class="show-info2 template-info"><div class="info-button" id="" style:"float: right;"><h4>More Info</h4></div>
</div>
</div>
<script>getWeekEvents("<%= @d %>","<%= @d.tomorrow %>");</script>

<%else%>
<div class="container-daily <%= @d %>">
</div>
<%end%>		
<% @d=@d.tomorrow %>