<% provide(:title, ' Information') %>

<#%= @currband = Band.find_by name: @event.headliner %>

<div class="secondary-header2">
	<%= render 'layouts/navbar3' %>
</div>

<div class="container-moreinfo">
	<div class="moreinfo-top moreinfo-top-template">
		<div class="part1 eventinfo">
			
			<div class="event-individual titleevent">
					<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
					<div class="curr-event"><h4></h4></div>
					<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
			</div>	
			
			<div class="time">
				<h4 class="date less"></h4>
				<h4 class="showtime"></h4>
			</div>
			
			<div class="event-individual titlevenue">
					<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
					<div class="curr-venue"><a href=""><h4></h4></a></div>
					<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
			</div>
			
			<div class="address">
				<h4 class="address1 less"></h4>
				<h4 class="address2"></h4>
			</div>
			<div class="regbox">
				<h4>BUY TICKETS</h4>
			</div>
			<div class="event-individual bigspace">
				<div class="price"><a href=""><h4 class="leftbump"></h4></a></div>
				<div class="curr-seller"><a href=""><h4 class="rightbump"></h4></a></div>
			</div>
		</div>
		<div class="part5 midspace template5">
			<div class="part5sub template5sub">
			<div class="part1 bandlist">
				<div class="event-individual" id="">
					<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
					<div class="curr-event"><h4></h4></div>
					<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
				</div>	
				
				<div class="regbox prebook">
					<div class="pledgebox"><input class="textbox" type="text" placeholder="$ PLEDGE"></div>
					<div class="pledgebutt"><h4>PREBOOK</h4></div>
				</div>
				
				<div class="regbox alsoplay">
					<h4>ALSO PLAYING</h4>
				</div>
				
				<div class="regbox otherlocs template-locs">
					<a><div class="date"><h4></h4></div></a>
					<a><div class="place"><h4></h4></div></a>
				</div>
			</div>
			
			<div class="part1 bandpicture">
				<div class="bandpic"><img src="" class="picture" \></div>
			</div>
			
			<div class="part2 songs">
				<div class="toptracks">
					<div class="title">
						<h4 class="bump">Top Tracks</h4>
					</div>
					<div class="spotify-player">
						<iframe class="spotframe" src="" width="254" height="100" frameborder="0" allowtransparency="true"></iframe>
					</div>
					<!--
					<div class="songdetails">
						<div class="song-individual">
							<div class="songname"><h4 class="bump">Test Song</h4></div>
							<div class="currsong short">
								<div class="youtube2" name="https://www.youtube.com/embed/vjncyiuwwXQ"></div>
								<div class="soundcloud2"></div>
								<div class="rdio2"></div>
								<div class="spotify2"></div>
							</div>
						</div>
						<div class="song-individual">
							<div class="songname"><h4 class="bump">Test Song #2</h4></div>
							<div class="currsong short">
								<div class="youtube2" name="https://www.youtube.com/embed/6h9XUYj96ho"></div>
								<div class="soundcloud2"></div>
								<div class="rdio2"></div>
								<div class="spotify2"></div>
							</div>
						</div>
						<div class="song-individual">
							<div class="songname"><h4 class="bump">Test Song #3</h4></div>
							<div class="currsong short">
								<div class="youtube2" name="https://www.youtube.com/embed/5NmjJeNFUVU"></div>
								<div class="soundcloud2"></div>
								<div class="rdio2"></div>
								<div class="spotify2"></div>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
			<div class="biobox">
				<div class="title"><h4>BIO</h4></div>
				<div class="bio"><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus nulla a magna viverra, eget luctus justo placerat. Donec non congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet consequat augue, ut condimentum sem. Etiam eros elit, eleifend eu quam sit amet, cursus euismod purus. Cras dolor nisl, posuere in auctor lobortis, mattis eget dui. Proin auctor, dui vel posuere lobortis, augue diam interdum erat, lacinia congue orci nulla id tortor. Integer gravida tempor sapien, eu adipiscing odio luctus ut.
					</h4>
				</div>
			</div>
			</div>
		</div>
		
		<div class="social">
			<div class="email"></div>
			<div class="gcals"></div>
			<div class="apcal"></div>
			<div class="faceb"></div>
			<div class="twitt"></div>
			<div class="tumbl"></div>
			<div class="gplus"></div>
			<div class="pintr"></div>
			<div class="reddt"></div>
		</div>
	</div>
	
	<div class="moreinfo-bottom moreinfo-bottom-template">
		<div class="part3">
			<h5>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus nulla a magna viverra, eget luctus justo placerat. Donec non congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet consequat augue, ut condimentum sem. Etiam eros elit, eleifend eu quam sit amet, cursus euismod purus. Cras dolor nisl, posuere in auctor lobortis, mattis eget dui. Proin auctor, dui vel posuere lobortis, augue diam interdum erat, lacinia congue orci nulla id tortor. Integer gravida tempor sapien, eu adipiscing odio luctus ut.
			</h5>
		</div>
		<div class="part4"><iframe width="100%" height="234" frameborder="0" style="border:0" src=""></iframe></div>
	</div>
</div>

<script>getDayEvents(<%= params[:id] %>)</script>
