@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* pagination */
.pagination ul > li > a {
  background-color: #126acc;
  &:hover {
    color: black;
  }
}

.pagination ul > .active > a {
  color: black;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

a {
  color: white;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #126acc;
  color: white;
  font-family: "Roboto-condensed",verdana, arial, helvetica, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar-inner .container {
  background-image: -webkit-linear-gradient(bottom,#126acc,#1a579b);
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  width: 1488px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #126acc;
    padding: 1px 0px 0px 0px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #126acc;
    padding: 2px 0px 0px 0px;
}

input[type="text"] {
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

div#placeholder {
  color: white;
}

/* typography */

@font-face{
    font-family: "Roboto-Condensed";
    src: url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.ttf'),
    url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot'); /* IE */
}

@font-face{
    font-family: "Roboto-Condensed-Bold";
    src: url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf'),
    url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot'); /* IE */
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  margin-top: 4px;
  font-weight: normal;
  font-family: "Roboto-Condensed";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 22px;
  font-family: "Roboto-Condensed-Bold";
  font-weight: normal;
}

h6 {
  font-size: 21px;
  font-family: "Roboto-Condensed-Bold";
  margin-top: 4px;
  display: inline-block;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.hero-unit {
  background-color: #1a579b;
  h1 {
    letter-spacing: -4px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inverse .nav > li > a {
  color: white;
  text-transform: uppercase;
  padding: 15px 15px 5px;
}

.navbar-inverse .navbar-inner {
  background-image: -webkit-linear-gradient(top,#1a579b,#126acc);
  border-color: #126acc;
  border-bottom-width: 0px;
}

.navbar-fixed-top .navbar-inner {
  -webit-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top .container {
  width: 1488px;
}

.navbar-secondary {
  height: 80px;
}

.secondary-header {
  width: 1488px;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
  right: 0;
  left: 0;
  background-color: #126acc;
  z-index: 1000;
  top: 40px;
}
.header-calendar {
  //position: fixed;
  width: 1428px;
  height: 40px;
  //background-color: #126acc;
  padding: 0px 21px 0px 39px;
  //top: 40px;
  clear: both;
  
  .currmonth {
    width: 204px;
    height: 40px;
    font-size: 22px;
    font-family: "Roboto-Condensed-Bold";
    display: inline-block; 
    float: left;
  }
  
  .container-search {
    width: 204px;
    height: 40px;
    font-size: 22px;
    font-family: "Roboto-Condensed";
    display: inline-block; 
    color: #126acc;
    float: left;
    
    input[type="text"] {
      color: #126acc;
      font-size: 17px;
      padding: 0px 6px 1px
    }
    
    .searchbox {
      font-family: "Roboto-Condensed";
      width: 187px;
      height: 27px !important;
      color: #126acc;
      border-radius: 0px;
    }
    
    .maxprice {
      font-family: "Roboto-Condensed";
      width: 187px;
      height: 27px !important;
      color: #126acc;
      border-radius: 0px;
    }
  }
  
  .container-dropdown {
    width: 204px;
    height: 40px;
    display: inline-block;
    float: left;
    
    .dropdown {
      width: 187px;
      height: 27px;
      
      .btn {
        font-size: 17px;
        font-family: "Roboto-Condensed";
        width: 187px;
        height: 27px;
        text-align: left;
        padding: 3px 6px;
        background-color: white;
        color: #126acc;
        vertical-align: middle;
        box-sizing: border-box;
        text-shadow: none;
        background-image: none;
        border: 0px;
        border-radius: 0;
        
        &:focus {
          outline: 0px;
        }
      }
      
      .selectpicker {
        font-size: 17px;
        font-family: "Roboto-Condensed";
        width: 187px;
        height: 27px;
        text-align: left;
        padding: 0px 6px 3px 6px;
        background-color: white;
        color: #126acc;
        vertical-align: middle;
        box-sizing: border-box;
        text-shadow: none;
        background-image: none;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0px;
        outline: 0px;
        margin: 0px;
        position: relative;
        
        &:focus {
          outline: 0px;
        }
        
        option {
          width: 147px;
          height: 20px;
          display: block;
          padding: 3px 20px 60px;
          clear: both;
          font-weight: normal;
          line-height: 20px;
          color: #126acc;
          white-space: nowrap;
          outline: 0px
        }
      }
    }
    
    .dropdown-menu {
      width: 187px;
      background-color: white;
      margin: 0px;
      border: 0px;
      border-radius: 0px;
      
      li {
        a{
          color: #126acc;
        }
      }
    }
  }
  
  .container-navigation {
    width: 204px;
    height: 40px;
    display: inline-block;
    float: left;
    
    .nav-buttons {
      width: 187px;
      
      .left {
        float: left;
      }
      
      .middle1 {
        padding-left: 31px;
        padding-right: 3px;
      }
      
      .middle2 {
        padding-right: 27px;
      }
      
      .right {
        float: right;
      }
    }
  }
  
  
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  a {
    color: white;
    &:hover {
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      color: white;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid white;
    &:last-child {
      border-bottom: 1px solid white;
    }
  }
}

/* Bands index */

.bands {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid white;
    &:last-child {
      border-bottom: 1px solid white;
    }
  }
}


/* Calendar */

.container-calendar {
  width: 1488px;
  height: 960px;
  display: block;
  margin-bottom: 30px;
  //background-color: #126acc;
}



.weekdays-calendar {
  //position: fixed;
  width: 1428px;
  height: 40px;
  // background-color: #126acc;
  padding: 0px 21px 8px 39px;
  clear: both;
  //top: 111px;
  
  .weekday {
    width: 204px;
    height: 30px;
    display: inline-block; 
    padding-top: 10px;  
    float: left;
  }
}
.container-monthly {
  width: 1428px;
  height: auto;
  padding: 0px 21px 0px 39px;
  // background-color: #126acc;
  clear: both;
  //top: 200px;
  
  .container-event {
    width: 204px;
    height: 226px;
    display: inline-block;
    float: left;
    // background-color:darkgray;
    margin-bottom: 15px;
    
    .day {
      width: 187px;
      height: 27px;
      float: left;
      color: black;
      // background-color: gray;
      display: block;
      text-align: right;
      //margin-top: 2px;
      
      .month {
        display: inline-block;
        float: left;
      }
    }
    .event {
      width: 187px;
      height: 199px;
      // background-color:lightgray;
      display: block;
      clear: left;
      overflow: hidden;
      
      .playbutton {
        position: absolute;
        width: 15px;
        height: 17px;
        margin-left: 8px;
        margin-top: 6px;
        background: url('https://s3.amazonaws.com/concerts-assets/images/play_button.png');
        &:hover {
          background-image: url('https://s3.amazonaws.com/concerts-assets/images/play_button_hover.png');
        }
        
      }
      
      .bandpic {
        width: 187px;
        height: 86px;
        // clear: both;
        background-color: lightgray;
      }
      
      .event-individual {
        width: 187px;
        height: 26px;
        // background-color: black;
        margin-bottom: 3px;
        display: inline-block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .star {
          width: 26px;
          height: 26px;  
          display: inline-block;
          float: left;
        }
        
        .curr-event {
          width: 135px;
          height: 26px;
          background-color: black;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .cross {
          width: 26px;
          height: 26px;
          display: inline-block;
          float: left;
        }
      }
    }
  }
}
