@import "bootstrap";


img {
  vertical-align: top;
  }
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* pagination */
.pagination ul > li > a {
  background-color: #126acc;
  &:hover {
    color: black;
  }
}

.pagination ul > .active > a {
  color: black;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

a {
  color: white;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}

html {
  background: url('https://s3.amazonaws.com/concerts-assets/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

body {
  padding-top: 75px;
  background-color: transparent;
  color: white;
  font-family: "Roboto-condensed",verdana, arial, helvetica, sans-serif;
  line-height: 1.231;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar-inner .container {
  background-image: -webkit-linear-gradient(bottom,#126acc,#1a579b);
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  width: 920px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #126acc;
    padding: 1px 0px 0px 0px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #126acc;
    padding: 2px 0px 0px 0px;
}

input[type="text"] {
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: 0px;
  line-height: 15px;
  font-size: 13px;
}

input {
  border: 0px;
}

div#placeholder {
  color: white;
}

/* typography */

@font-face{
    font-family: "Roboto-Condensed";
    src: url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.ttf'),
    url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.eot'); /* IE */
}

@font-face{
    font-family: "Roboto-Condensed-Bold";
    src: url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf'),
    url('https://s3.amazonaws.com/concerts-assets/fonts/roboto-fontfacekit/web+fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.eot'); /* IE */
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 12px;
  margin-top: 2px;
  font-weight: normal;
  font-family: "Roboto-Condensed";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 21px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  font-family: "Roboto-Condensed-Bold";
  font-weight: normal;
}

h6 {
  font-size: 12px;
  font-family: "Roboto-Condensed-Bold";
  margin-top: 4px;
  display: inline-block;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.hero-unit {
  background-color: #1a579b;
  h1 {
    letter-spacing: -4px;
  }
}

/* Calendar */

.container-calendar {
  width: 920px;
  display: block;
  margin-bottom: 30px;
  overflow:auto;
  //background-color: #126acc;
}

.weekdays-calendar {
  //position: fixed;
  width: 920px;
  height: 26px;
  // background-color: #126acc;
  //padding: 0px 21px 8px 39px;
  clear: both;
  //top: 111px;
  margin-bottom:5px;
  
  .weekday {
    width: 133px;
    height: 26px;
    display: inline-block; 
    padding-top: 0px;  
    float: left;
  }
}
.container-monthly {
  width: 920px;
  height: auto;
  //padding: 0px 21px 0px 39px;
  // background-color: #126acc;
  clear: both;
  //top: 200px;
  overflow:auto;
  
  .container-event {
    width: 14.2857143%;
    height: 149px;
    display: inline-block;
    float: left;
    overflow: hidden;
    // background-color:darkgray;
    margin-bottom: 10px;
    
    .day {
      width: 122px;
      height: 17px;
      float: left;
      color: black;
      // background-color: gray;
      display: block;
      text-align: right;
      //margin-top: 2px;
      
      .month {
        display: inline-block;
        float: left;
        color: white;
      }
    }
    .event {
      width: 122px;
      height: 199px;
      // background-color:lightgray;
      display: block;
      clear: left;
      overflow: hidden;
      
      .playbutton {
        position: absolute;
        width: 15px;
        height: 17px;
        margin-left: 8px;
        margin-top: 6px;
        background: url('https://s3.amazonaws.com/concerts-assets/images/play_button.png');
      }
      
      .bandpic {
        width: 122px;
        height: 56px;
        // clear: both;
        background: url('https://s3.amazonaws.com/concerts-assets/images/band_filler.png');
        
        overflow: hidden;
      }
      
      .event-individual {
        width: 122px;
        height: 17px;
        // background-color: black;
        margin-bottom: 2px;
        display: inline-block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .star-empty {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-empty-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
          }
        }
        
        .star-full {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
          background-size: contain;
          &:hover {
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-full-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
          background-size: contain;
        }
        
        .curr-event {
          width: 88px;
          height: 17px;
          background-color: black;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .curr-event-old {
          background-color: #525252;
          color: #8d8d8d;
        }
        
        .cross {
          width: 17px;
          height: 17px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .cross-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_full.png');
          }
        }
      }
    }
  }
}

.container-weekly {
  width: 1428px;
  height: auto;
  //padding: 0px 21px 0px 39px;
  // background-color: #126acc;
  clear: both;
  //top: 200px;
  
  .container-daily {
    width: 14.2857143%;
    height: auto;
    display: inline-block;
    float: left;
  
  .container-event {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    // background-color:darkgray;
    margin-bottom: 15px;
    
    .day {
      width: 187px;
      height: 27px;
      float: left;
      color: black;
      // background-color: gray;
      display: block;
      text-align: right;
      //margin-top: 2px;
      
      .month {
        display: inline-block;
        float: left;
        color: white;
      }
    }
    .event {
      width: 187px;
      height: auto;
      // background-color:lightgray;
      display: block;
      clear: left;
      overflow: hidden;
      
      .littleinfo {
        height: 17px;
        width: 187px;
        float: left;
        background-color:#2b2b2b;
        color: white;
      }
      
      .weektiny {
        padding-left:26px;
        font-size:17px;
        margin-top:0px
        }
      
      .playbutton {
        position: absolute;
        width: 15px;
        height: 17px;
        margin-left: 8px;
        margin-top: 6px;
        background: url('https://s3.amazonaws.com/concerts-assets/images/play_button.png');
      }
      
      .bandpic {
        width: 187px;
        height: 86px;
        // clear: both;
        background: url('https://s3.amazonaws.com/concerts-assets/images/band_filler.png');
        overflow: hidden;
      }
      
      .event-individual {
        width: 187px;
        height: 26px;
        // background-color: black;
        margin-bottom: 0px;
        display: inline-block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .star-empty {
          width: 26px;
          height: 26px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png');
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-empty-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_empty.png');
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
          }
        }
        
        .star-full {
          width: 26px;
          height: 26px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
          &:hover {
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-full-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
        }
        
        .curr-event {
          width: 135px;
          height: 26px;
          background-color: black;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .curr-venue {
          width: 135px;
          height: 26px;
          background-color: black;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .curr-event-old {
          background-color: #525252;
          color: #8d8d8d;
        }
        
        .cross {
          width: 26px;
          height: 26px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png');
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .cross-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_empty.png');
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_full.png');
          }
        }
      }
    }
  }
  }
}
