// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Hidden templates
.moreinfo-top-template {
  display: none;
}

.moreinfo-bottom-template {
  display: none;
}

.template-locs {
  display: none;
}

.solid {
  background-color: black;
}

// Sizing for divs taking up x/7 of the page
.part1 {
    width: 14.2857143%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
}
  
.part2 {
    width: 28.5714286%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
}
  
.part3 {
    width: 42.8571429%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
    
    h5 {
      font-size: 12px;
      margin-top: 2px;
      font-weight: normal;
      font-family: "Roboto-Condensed";
      padding-right:10px;
      white-space: normal;
      word-wrap: break-word;
    }
}
    
.part4 {
    width: 57.1428571%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
}

.part5 {
    width: 80.844155925%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
    
    .part5sub {
      height: 127px;
      
     // Sub parts
      .part1 {
        width: 17.6706827%;
      }
    
     .part2 {
        width: 35.3413654%;
      }
    }
}

.part6 {
    width: 85.7142858%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
}

.part7 {
    width: 57.1428571%;
    height: auto;
    display:inline-block;
    float:left;
    position:relative;
}

.social {
  width: 25px;
  height: auto;
  margin-left:11px;
  display:inline-block;
  float:left;
  
  .reddt {
    width:25px;
    height:26px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_redd.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .pintr {
    width:25px;
    height:26px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_pintr.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .email {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_email.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .gcals {
    width:25px;
    height:26px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_gcal.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .apcal {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_apcal.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .faceb {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_face.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .twitt {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_twitt.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .tumbl {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_tumblr.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .gplus {
    width:25px;
    height:25px;
    background-image:url('https://s3.amazonaws.com/concerts-assets/images/social_gplus.png');
    margin-bottom:2px;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
}

.biobox {
    width: 219px;
    height: 117px;
    background-color:#d9d9d9;
    display:inline-block;
    float:left;
    
    .title {
      width:219px;
      height: 17px;
      background-color:white;
      float:left;
      
      h4 {
        padding-left: 10px;
        font-family: "Roboto-condensed-bold";
      }
    }
    
    .bio {
    height:100px;
    width: 219px;
    display:inline-block;
    float:left;
    overflow: hidden;
    
      h4 {
        font-size: 12px;
        margin-top: 2px;
        font-weight: normal;
        font-family: "Roboto-Condensed";
        padding-left:10px;
        white-space: normal;
        word-wrap: break-word;
        height:auto;
      }
    }
}
  
.regbox {
  width:122px;
  height:17px;
  float: left;
}
  
.eventinfo {
  .regbox {
    background-color: white;
    margin-bottom: 2px;
    h4 {
      padding-left: 4px;
      font-family:"Roboto-Condensed-Bold";
    }
  }
}

.bandpicture {
  .bandpic {
    width: 92.424242%;
    max-height:117px;
    overflow:hidden;
    
    img {
      max-height:100%;
      max-width:inherit;
    }
  }
}
  
.time {
  //margin-left: 15px;
  float: left;
  width: 122px;
  background-color: white;
  height: auto;
  margin-bottom:2px;
  
  .date {
    margin-top: 4px;
    margin-left: 4px;
  }
    
  .showtime {
    margin-left:4px;
    margin-bottom:4px;
    height:14px;
  }
}

.address {
  //margin-left: 15px;
  float: left;
  width: 122px;
  background-color: white;
  height: auto;
  margin-bottom: 8px;
  
  .address1 {
    margin-top: 4px;
    margin-left: 4px;
  }
    
  .address2 {
    margin-left:4px;
    margin-bottom:4px;
    height:14px;
  }
}
  
.titleevent {
  margin-bottom:2px !important;
}
   
.container-moreinfo {
  width: 924px;
  height: auto;
  clear: both;
  overflow: auto;
  padding-top: 75px;
  white-space: nowrap;
  overflow-y: hidden;
}

.songs {
  height: 117px;
  
  .toptracks {
  width: 96.212121%;
  min-height: 117px;
  max-height:117px;
  overflow:hidden;
  display: inline-block;
  background-color: #d9d9d9;
    
  .songdetails {
    width: 100%;
    height:auto;
    display: inline-block;
    float:left;
  }
  
  .title {
    width: 100%;
    height: 17px;
    margin-bottom: 0px;
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    h4 {
      font-family:"Roboto-Condensed-Bold"
    }
  }
     
  .bump {
    padding-left: 10px;
  }
     
  .songname {
    height: 17px;
    width: 132px;
    display: inline-block;
    float:left;
  }
   
  .currsong {
    height:17px;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
  }
  
  .short {
    width:46.21212121%;
    height: 17px;
  }
     
  .spotify2 {
    height: 10px;
    width: 10px;
    float: left;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0px;
    margin-top:3px;
    background-image: url('https://s3.amazonaws.com/concerts-assets/images/banner_spotify.png');
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
    
  .rdio2 {
    height: 10px;
    width: 12px;
    float: left;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 11px;
    margin-top:3px;
    background-image: url('https://s3.amazonaws.com/concerts-assets/images/banner_rdio.png');
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
  
  .soundcloud2 {
    height: 10px;
    width: 18px;
    float: left;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top:3px;
    background-image: url('https://s3.amazonaws.com/concerts-assets/images/banner_sndcld.png');
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
    
  .youtube2 {
    height: 10px;
    width: 14px;
    float: left;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 13px;
    margin-top:3px;
    margin-left: 20px;
    background-image: url('https://s3.amazonaws.com/concerts-assets/images/banner_youtube.png');
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
}
}

.bandlist {

  .prebook {
    background-color: #FF4200;
    margin-bottom:11px;
    
    .pledgebox {
      background-image: url('https://s3.amazonaws.com/concerts-assets/images/arrow.png');
      background-repeat: no-repeat;
      margin: 2px 0px 2px 2px;
      width: 62px;
      height: 17px;
      display: inline-block;
      float: left;
      
      .textbox {
        height: 13px !important;
        width: 51px;
        border: 0px;
        color: black;
        display: block;
        font-size: 10px;
        line-height:13px;
        float:left;
        padding: 0px;
        margin: 0px 0px 0px 2px;
      }
      
      input::-webkit-input-placeholder {
        color: #707070 !important;
      }
      input:-moz-placeholder {
        color: #707070 !important;
      }
      input:-ms-input-placeholder {
        color: #707070 !important;
      }
    }
    
    .pledgebutt {
      height: 17px;
      width: 58px;
      text-align: right;
      color: white;
      display: inline-block;
      float:left;
      &:hover {
        cursor: pointer; 
        cursor: hand;
      }
      
      h4 {
        font-family: "Roboto-Condensed-Bold";
        margin-right: 2px;
      }
    }
  }
  
  .alsoplay {
    h4 {
      color: white;
    }
  }
  
  .otherlocs {
    background-color: #FF4200;
    margin-bottom: 2px;
    
    .date {
      display: inline-block;
      float: left;
      width: 40px;
      
      h4 {
        color: white;
        margin-left: 2px;
      }
    }
    
    .place {
      display: inline-block;
      float: left;
      width: 82px;
      
      h4 {
        text-align: right;
        color:white;
        margin-right: 3px;
      }
    }  
  }
}
  
.moreinfo-top {
  h4 {
    color: black;
    }
}  
  
.less {
  height:12px;
  margin-bottom:3px;
}

.bigspace {
  padding-bottom: 15px;
} 

.bigspace2 {
  padding-bottom: 15px;
} 
 
.midspace {
  padding-bottom: 10px;
}
 
.event-individual {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 0px;
  display: inline-block;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
      
  .star-empty {
    width: 17px;
    height: 17px;  
    display: inline-block;
    float: left;
    background: url('https://s3.amazonaws.com/concerts-assets/images/white_star_empty.png');
    background-size: contain;
    &:hover {
      background-image: url('https://s3.amazonaws.com/concerts-assets/images/white_star_full.png');
      cursor: pointer; 
      cursor: hand;
    }
  }
       
  .star-full {
    width: 17px;
    height: 17px;  
    display: inline-block;
    float: left;
    background: url('https://s3.amazonaws.com/concerts-assets/images/white_star_full.png');
    background-size: contain;
    &:hover {
      cursor: pointer; 
      cursor: hand;
    }
  }
      
  .curr-event {
    width: 88px;
    height: 17px;
    background-color: white;
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
     
  .curr-venue {
    width: 88px;
    height: 17px;
    background-color: white;
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .curr-seller {
    width: 68px;
    height: 17px;
    background-color: black;
    display: inline-block;
    float: left;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    h4 {
      color: white;
    }
    
    .rightbump {
      padding-right:3px;
    }
  }
  
  .price {
    width: 54px;
    height: 17px;
    background-color: black;
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
    
    h4 {
     color:white;
     }
    
    .leftbump {
      padding-left:3px;
    }
  }
        
  .cross {
    width: 17px;
    height: 17px;
    display: inline-block;
    float: left;
    background: url('https://s3.amazonaws.com/concerts-assets/images/white_cross_empty.png');
    background-size: contain;
    &:hover {
      background-image: url('https://s3.amazonaws.com/concerts-assets/images/white_cross_full.png');
      cursor: pointer; 
      cursor: hand;
    }
  }
}