.template {
  display: none !important;
}
.template-secondary {
  display: none !important;
}
.template-tiny {
  display: none !important;
}
.template-venue {
  display: none !important;
}
.template-time {
  display: none !important;
}
.template-info {
  display: none !important;
}

.container-monthly {
  width: 924px;
  height: auto;
  //padding: 0px 21px 0px 39px;
  // background-color: #126acc;
  clear: both;
  //top: 200px;
  overflow:auto;
  padding-top:75px;
  
  .container-week {
  width: 924px;
  height: auto;
  display: block;
  overflow: hidden;
  
    .test {
      height: auto;
    }
  
  .container-event {
    width: 14.2857143%;
    height: 147px;
    display: inline-block;
    float: left;
    overflow: hidden;
    // background-color:darkgray;
    margin-bottom: 10px;
    
    .day {
      width: 122px;
      height: 17px;
      float: left;
      color: white;
      // background-color: gray;
      display: block;
      text-align: right;
      //margin-top: 2px;
      
      .month {
        display: inline-block;
        float: left;
        color: white;
      }
    }
    .event {
      width: 122px;
      height: auto;
      // background-color:lightgray;
      display: block;
      clear: left;
      overflow: hidden;
      
      .playbutton {
        position: absolute;
        width: 10px;
        height: 11px;
        margin-left: 8px;
        margin-top: 6px;
        background: url('https://s3.amazonaws.com/concerts-assets/images/play_button.png');
        background-size: contain;
      }
      
      .bandpic {
        width: 122px;
        height: 56px;
        // clear: both;
        background: url('https://s3.amazonaws.com/concerts-assets/images/band_filler.png');
        background-size: contain;
        overflow: hidden;
      }
      
      .event-full {
        height: auto;
        overflow: hidden;
        
        .event-individual {
          width: 122px;
          height: 17px;
          // background-color: black;
          margin-bottom: 2px;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        
          .star-empty {
            width: 17px;
            height: 17px;  
            display: inline-block;
            float: left;
            background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png');
            background-size: contain;
            &:hover {
              background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
              cursor: pointer; 
              cursor: hand;
            }
          }
        
          .star-empty-old {
            background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_empty.png');
            background-size: contain;
            &:hover {
              background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
            }
          }
        
          .star-full {
            width: 17px;
            height: 17px;  
            display: inline-block;
            float: left;
            background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
            background-size: contain;
            &:hover {
              cursor: pointer; 
              cursor: hand;
            }
          }
        
          .star-full-old {
            background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
            background-size: contain;
          }
        
          .curr-event {
            width: 88px;
            height: 17px;
            background-color: black;
            display: inline-block;
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
              cursor: pointer; 
              cursor: hand;
            }
          }
        
          .curr-event-old {
            background-color: #525252;
            color: #8d8d8d;
          }
        
          .cross {
            width: 17px;
            height: 17px;
            display: inline-block;
            float: left;
            background: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png');
            background-size: contain;
            &:hover {
              background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_full.png');
              cursor: pointer; 
              cursor: hand;
            }
          }
        
          .cross-old {
            background: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_empty.png');
            background-size: contain;
            &:hover {
              background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_full.png');
            }
          }
        }
      }
    }
  }
}
}

.event-individual2 {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 2px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;   
  
  .star-empty {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
  .cross {
          width: 17px;
          height: 17px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }   
}

.venue-individual {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 2px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;   
  
  .star-empty {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
  .cross {
          width: 17px;
          height: 17px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/blk_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }   
}

.timeinfo {
        height: 11px;
        width: 122px;
        float: left;
        background-color:#2b2b2b;
        color: white;
        display: none;
        margin-top: -2px;
      }
      
      .timetiny {
        padding-left:26px;
        font-size:10px;
        margin-top:0px;
        display: block;
        }
      

.littleinfo2 {
        height: 11px;
        width: 122px;
        float: left;
        background-color:#2b2b2b;
        color: white;
        display: none;
        margin-top: -2px;
      }
      
      .weektiny {
        padding-left:26px;
        font-size:10px;
        margin-top:0px;
        display: block;
        }
        
        .curr-event2 {
            width: 88px;
            height: 17px;
            background-color: black;
            display: inline-block;
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
              cursor: pointer; 
              cursor: hand;
            }
          }
        .curr-venue {
          width: 88px;
          height: 17px;
          background-color: black;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
.break {
  height: 4px;
  width: 120px;
  margin-top: -2px;
}
.show-info {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 2px;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;   
  background-color: black;
  &:hover {
            
            cursor: pointer; 
            cursor: hand;
          }
          
          .info-button {
          width: 55px;
          height: 17px;
          background-color: black;
          display: inline-block;
          float: right;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
}