.template-big{
  display: none !important;
}

.old {
  opacity: 0.5;
}

.weekday {
      width: 122px;
      height: 17px;
      float: left;
      color: white;
      // background-color: gray;
      display: inline-block;
      text-align: right;
      //margin-top: 2px;
      padding-right:9px;
      
      .month {
        display: inline-block;
        float: left;
        color: white;
      }
    }

.timeinfo2 {
        height: 11px;
        width: 122px;
        float: left;
        background-color:#d9d9d9;
        color: white;
        margin-top: -2px;
      }

.show-info2 {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 2px;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  background-color: #FF4200;

          
          .info-button {
          width: 55px;
          height: 17px;
          background-color: #FF4200;
          display: inline-block;
          float: right;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          
        }
}

.venue-individual2 {
  width: 122px;
  height: 17px;
  // background-color: black;
  margin-bottom: 2px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  
  .star-empty {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/light_gray_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/light_gray_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
  .cross {
          width: 17px;
          height: 17px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/light_gray_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/light_gray_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }   
}

.container-weekly {
  width: 924px;
  height: auto;
  //padding: 0px 21px 0px 39px;
  // background-color: #126acc;
  clear: both;
  //top: 200px;
  padding-top: 96px;
  
  .container-daily {
    width: 14.2857143%;
    height: auto;
    min-height:10px;
    display: inline-block;
    float: left;
  
  .container-event {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    // background-color:darkgray;
    margin-bottom: 15px;
    
    
    .event {
      width: 122px;
      height: auto;
      // background-color:lightgray;
      display: block;
      clear: left;
      overflow: hidden;
      
      .littleinfo {
        height: 11px;
        width: 122px;
        float: left;
        background-color:#d9d9d9;
        color: white;
      }
      
      .weektiny {
        padding-left:26px;
        font-size:10px;
        margin-top:0px;
        }
      
      .playbutton {
        position: absolute;
        width: 10px;
        height: 11px;
        margin-left: 8px;
        margin-top: 6px;
        background: url('https://s3.amazonaws.com/concerts-assets/images/play_button.png');
        background-size: contain;
      }
      
      .bandpic {
        width: 122px;
        height: 56px;
        // clear: both;
        background: url('https://s3.amazonaws.com/concerts-assets/images/band_filler.png');
        background-size: contain;
        overflow: hidden;
      }
      
      .event-individual {
        width: 122px;
        height: 17px;
        // background-color: black;
        margin-bottom: 0px;
        display: inline-block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .star-empty {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/white_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/white_star_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-empty-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
          }
        }
        
        .star-full {
          width: 17px;
          height: 17px;  
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/white_star_full.png');
          background-size: contain;
          &:hover {
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .star-full-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_star_full.png');
          background-size: contain;
        }
        
        .curr-event {
          width: 88px;
          height: 17px;
          background-color: white;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          
          h4 {
            color: black;
          }
        }
        
        .curr-venue {
          width: 88px;
          height: 17px;
          background-color: #d9d9d9;
          display: inline-block;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .curr-event-old {
          background-color: #525252;
          color: #8d8d8d;
        }
        
        .cross {
          width: 17px;
          height: 17px;
          display: inline-block;
          float: left;
          background: url('https://s3.amazonaws.com/concerts-assets/images/white_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/white_cross_full.png');
            cursor: pointer; 
            cursor: hand;
          }
        }
        
        .cross-old {
          background: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_empty.png');
          background-size: contain;
          &:hover {
            background-image: url('https://s3.amazonaws.com/concerts-assets/images/gray_cross_full.png');
          }
        }
      }
    }
  }
  }
}

.week-days {
  width: 924px;
  height: 17px;
  
}
