<% if @d >= Date.today %>
<div class="event <% if @d < Date.today %>old <%end%><%= @d %>">
	<!--><div class="<%#=@d%>loader overloader">
		<img src="/assets/ajax-loader.gif" style="margin-top:54px; margin-left:53px;">
	</div>
	-->
	<div class="playbutton"></div>
	<div class="bandpic" href="javascript:void(0);">
		<img class="topimg" src="">
	</div>
	
	<div class="event-full vis template">
		<div class="event-individual">
			<div class="star-empty mover" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
			<div class="curr-event"><h4></h4></div>
			<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
		</div>
	</div>
	
	<div class="littleinfo2 template-tiny"><h4 class="weektiny"></h4></div>
	
	<div class="event-individual2 template-secondary" id="">
			<div class="star-empty mover2" name="" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
			<div class="curr-event2"><h4></h4></div>
			<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="" name="name"></div>
	</div>
	
	<div class="venue-individual template-venue" id="">
			<div class="star-empty"></div>
			<div class="curr-venue"><h4></h4></div>
			<div class="cross"></div>
	</div>
	
	<div class="timeinfo template-time"><h4 class="timetiny"></h4></div>
	<div class="show-info template-info"><div class="info-button" id="" style:"float: right;"><h4><a class="linkinfo" href="">More Info</a></h4></div>
		
	</div>
</div>
<script>getEvents("<%= @d %>","<%= @d.tomorrow %>");</script>
<%end%>
<% @d=@d.tomorrow %>
