<div class="event">
	<div class="playbutton">
	</div>
	<div class="bandpic">
		<img src="https://s3.amazonaws.com/concerts-assets/images/hot_chip.png">
	</div>
	<% @eventstoday = @events.select{|x| x.eventtime == @d.yesterday.to_s}.sort_by{|x| -x[:rating]} %>

	<% @eventstoday.each do |individ| %>
		<div class="event-individual" id="<%= Random.new.rand(10...100) %>">
				<% if individ.rating == 9 %>
					<div class="star-full"></div>
				<% else %>
					<div class="star-empty mover" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.id %>" name="id"></div>
				<% end %>
			<div class="curr-event"><h4><%= individ.band %></h4></div>
			<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.id %>" name="id"></div>
		</div>
	<%end%>		
</div>