<footer class="footer">
  <small>
    <a href="http://limitless-taiga-3101.herokuapp.com/">Concert</a>
    Scheduling Application
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
