<div class="headbanner">
	<div class="part1">
		<a href="/"><div class="logo"></div></a>
	</div>
	<div class="part1">
		<div class="event-individual" style="opacity:0.5">
			<div class="star-empty"></div>
			<div class="curr-event"><h4 style="opacity:0.5">Coming soon</h4></div>
			<div class="cross"></div>
		</div>
	</div>
	<div class="part1">
		<div class="currsong">
			<div class="short" style="opacity:0.5">
				<div class="play"></div>
				<div class="songinfo">
					<h4 class="curr-play">Coming soon</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="part1">
		<div class="currsong">
			<div class="short" style="opacity:0.5">
				<div class="track"></div>
			</div>
		</div>
	</div>
	<div class="part1">
		<div class="currsong">
			<div class="short" style="opacity:0.5">
				<div class="previous"></div>
				<div class="next"></div>
				<div class="sound"></div>
				<div class="volume"></div>
			</div>
		</div>
	</div>
	<div class="part1">
		<div class="currsong short">
			<div class="shuffle" style="opacity:0.5"></div>
			<div class="youtube" style="opacity:0.5"></div>
			<div class="soundcloud" style="opacity:0.5"></div>
			<div class="rdio" style="opacity:0.5"></div>
			<div class="spotify"></div>
		</div>
	</div>
	<!--
	<div class="part1">
		<div class="event-individual">
			<div class="empty"></div>
			<div class="curr-date"><h4><%= Date.today.strftime("%a %b %d") %></h4></div>
			<div class="empty"></div>
		</div>
	</div>
	-->
	<div class="part1">
		<div class="event-individual" style="opacity:0.5">
			<div class="star-empty"></div>
			<div class="curr-venue"><h4 style="color:white; opacity:0.5;">Coming soon</h4></div>
			<div class="cross"></div>
		</div>
	</div>
</div>
<div class="spotify-widget"><iframe id="sptfy" src="https://embed.spotify.com/?uri=spotify:trackset:Upcoming Shows:6MeyHY5JmpUnCzUdpF1hIX,03gqZZavMKhWbSjdQvpF6O,5k8JECbcmHJKkFhMQVwrHb,2ZwJdFxMcasAwSlk9O7TLw,4MbZuoeftzK1drIISgc8Zj,6lxn3UHS467KBPW9FpGgH6" 
	frameborder="0" allowtransparency="true" width="250" height="330"></iframe></div>
<div id="youtubeplayer"></div>
