<div class="headbanner">
	<div class="part1">
		<div class="logo">SICKDAY</div>
	</div>
	
	<div class="part1">
		<div class="currsong"><h4 class="pad">The Rain Song</h4></div>
	</div>
	<div class="part1">
		<div class="currsong"><h4>--------------------------</h4></div>
	</div>
	<div class="part1">
		<div class="currsong short"></div>
	</div>
		<!--
	<div class="spotify-player">
		<iframe id="spot" src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" width="391" height="80" frameborder="0" allowtransparency="true"></iframe>
	</div>
	-->
	<div class="part1">
		<div class="event-individual">
			<div class="star-empty"></div>
			<div class="curr-event"><h4>Led Zeppelin</h4></div>
			<div class="cross"></div>
		</div>
	</div>
	<div class="part1">
		<div class="event-individual">
			<div class="empty"></div>
			<div class="curr-date"><h4><%= Date.today.strftime("%a %b %d") %></h4></div>
			<div class="empty"></div>
		</div>
	</div>
	<div class="part1">
		<div class="event-individual">
			<div class="star-empty"></div>
			<div class="curr-venue"><h4>Alice Tully Hall</h4></div>
			<div class="cross"></div>
		</div>
	</div>
</div>