<div class="header-calendar">
		<div class="currmonth"><%= Date.today.strftime("%B %Y").upcase%></div>	
		<div class="container-navigation">
			<div class="nav-buttons">
				<img class="left" src="https://s3.amazonaws.com/concerts-assets/images/left_arrows.png">
				<a href="/"><img class="middle1" src="https://s3.amazonaws.com/concerts-assets/images/month.png"></a>
				<a href="/week.html"><img class="middle2" src="https://s3.amazonaws.com/concerts-assets/images/week.png"></a>
				<img class="right" src="https://s3.amazonaws.com/concerts-assets/images/right_arrows.png">
			</div>
		</div>		
		<div class="container-search">
			<form id="search3" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="SAVE">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search3" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="SHARE">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search2" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="NEW YORK, NY">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search" role="search">
   				<div>
   	     			<input type="text" class="searchbox" placeholder="SEARCH">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search3" role="search">
     			<div>
        			<div class="buttonbox">
        					<% if user_signed_in? %><h4><%= link_to "MY STUFF", edit_user_registration_path %> | <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></h4>
							<% else %><h4><%= link_to "LOGIN", new_user_session_path %></h4>
							<% end %>
        			</div>
      			</div>
    		</form>
		</div>	
</div>