<div class="header-calendar">
		<div class="currmonth"><%= Date.today.strftime("%B %Y").upcase%></div>	
		<div class="container-navigation">
			<div class="nav-buttons">
				<img class="left" src="https://s3.amazonaws.com/concerts-assets/images/left_arrows.png">
				<img class="middle1" src="https://s3.amazonaws.com/concerts-assets/images/month_selected.png">
				<img class="middle2" src="https://s3.amazonaws.com/concerts-assets/images/week.png">
				<img class="right" src="https://s3.amazonaws.com/concerts-assets/images/right_arrows.png">
			</div>
		</div>		
		<div class="container-search">
			<form id="maxprice" role="search">
     			 <div>
        			<input type="text" class="maxprice" placeholder="MAX: $ INFINITY" onkeydown="if (event.keyCode == 13) {return false;}">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search3" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="VENUE SIZE: ALL">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search2" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="NEW YORK, NY">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search" role="search">
   				<div>
   	     			<input type="text" class="searchbox" placeholder="SEARCH">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search3" role="search">
     			<div>
        			<input type="text" class="searchbox" placeholder="MY STUFF">
      			</div>
    		</form>
		</div>	
</div>