    <div class="weekdays-calendar">
		<div class="weekday">
			<h5>MONDAY</h5>
		</div>
		<div class="weekday">
			<h5>TUESDAY</h5>
		</div>
		<div class="weekday">
			<h5>WEDNESDAY</h5>
		</div>
		<div class="weekday">
			<h5>THURSDAY</h5>
		</div>
		<div class="weekday">
			<h5>FRIDAY</h5>
		</div>
		<div class="weekday">
			<h5>SATURDAY</h5>
		</div>
		<div class="weekday">
			<h5>SUNDAY</h5>
		</div>
	</div>